@{
    ViewData["Title"] = "Bom Sabor Galeria";
}




<body>
    

    <div class="titulo rounded mx-auto d-block">
    <h1>Galeria</h1>
    </div>

    <div>
        <h3 class=" galeriatxt mx-auto d-block">Galeria dos Pratos Mais Populares Do Nosso Restaurante</h3>
    </div>








  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
          <div>
              <img class="img-fluid rounded mx-auto d-block galeria" src="~/Images/Galeria/Pizza.jpg" alt="">
          </div>
      </div>

    
      <div class="col-sm-12 col-md-12 col-lg-6 ">
          <div>
              <img class="img-fluid rounded mx-auto d-block galeria" src="~/Images/Galeria/Lasanha.jpg" alt="">
          </div>
      </div>

     <div class="col-sm-12 col-md-12 col-lg-6 ">
          <div>
              <img class="img-fluid rounded mx-auto d-block galeria" src="~/Images/Galeria/Hamburger.jpg" alt="">
          </div>
      </div>

       <div class="col-sm-12 col-md-12 col-lg-6 ">
          <div>
              <img class="img-fluid rounded mx-auto d-block galeria" src="~/Images/Galeria/Strogonoff.jpg" alt="">
          </div>
      </div>

       <div class="col-sm-12 col-md-12 col-lg-6 ">
          <div>
              <img class="img-fluid rounded mx-auto d-block galeria" src="~/Images/Galeria/Bolo Chocolate.jpg" alt="">
          </div>
      </div>

       <div class="col-sm-12 col-md-12 col-lg-6 ">
          <div>
              <img class="img-fluid rounded mx-auto d-block galeria" src="~/Images/Galeria/Carne.jpg" alt="">
          </div>
      </div>





















  </div>

</body>