@{
    ViewData["Title"] = "Bom Sabor Novidades";
}

 <div class="titulo rounded mx-auto d-block">
    <h1>Novidades</h1>
</div>     

<div>
        <h3 class=" galeriatxt mx-auto d-block">Venha Conferiar as Mais Recentes Novidades no Nosso Restaurante</h3>
</div>










<body>
    
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <img class="img-fluid rounded mx-auto d-block novidades" src="~/Images/Novidades/chefe.jpg" alt="">
        <h3 class="text-center">Novo Chefe de cozinha foi Contratado:</h3>
        <p class="text-center">Novo chefe de cozinha cheio de novas receitas foi contratado em nosso restaurante venha conferir pessoalmente essas novas comidas que vão te deixar com agua na boca!!! </p>
    </div>




    <div class="col-sm-12 col-md-12 col-lg-12">
        <img class="img-fluid rounded mx-auto d-block novidades" src="~/Images/Novidades/promocao.jpg" alt="">
        <h3 class="text-center">Promoção Todas as Quartas:</h3>
        <p class="text-center" >Todas as Quartas com 40% de desconto venha ja conferir e passar seu tempo apreciando comidas deliciosas!!</p>

    </div>


    <div class="col-sm-12 col-md-12 col-lg-12">
        <img class="img-fluid rounded mx-auto d-block novidades" src="~/Images/Novidades/pizza rodizio.jpg" alt="">
        <h3 class="text-center">Rodízio De Pizza:</h3>
        <p class="text-center">Todas as Sextas e Sabados com Rodízio de Pizza venha conferir e provar !!</p>
    </div>









</div>








</body>