@{
    ViewData["Title"] = "Bom Sabor Receitas";
}

     



<body>
      <div class="titulo rounded mx-auto d-block">
    <h1>Receitas</h1>
    </div>

    <div>
        <h3 class=" galeriatxt mx-auto d-block">As Melhores Receitas Do Nosso Restaurante</h3>
    </div>


    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <img class="img-fluid rounded mx-auto d-block novidades" src="~/Images/Receitas/macarrao.jpg" alt="">
        <h3 class="text-center">Macarrão à Bolonhesa</h3>
        <p class="text-center">Esta receita de macarrão à Bolonhesa, que tem como origem, como o nome já diz, a região da Bolonha na Itália, é na verdade mais uma forma de utilizar um dos molhos mais conhecidos da culinária italiana, o molho à Bolonhesa. </p>
    </div>




    <div class="col-sm-12 col-md-12 col-lg-12">
        <img class="img-fluid rounded mx-auto d-block novidades" src="~/Images/Receitas/Molho.jpg" alt="">
        <h3 class="text-center">Molho Sherry Shallot</h3>
        <p class="text-center" >Molho Especial com Bife e batata frita.</p>

    </div>


    <div class="col-sm-12 col-md-12 col-lg-12">
        <img class="img-fluid rounded mx-auto d-block novidades" src="~/Images/Receitas/bolo de copo.jpg" alt="">
        <h3 class="text-center">Mousse de chocolate com pimenta</h3>
        <p class="text-center">Uma Deliciosa sobremesa que vai deixar seu fim de semana mais alegre!</p>
    </div>

      <div class="col-sm-12 col-md-12 col-lg-12">
        <img class="img-fluid rounded mx-auto d-block novidades" src="~/Images/Receitas/bolo hortela.jpg" alt="">
        <h3 class="text-center">Cheesecake de Hortelã</h3>
        <p class="text-center">Sobremesa perfeita para um final de semana ser aproveitado ao máximo tem nome e sobrenome: Cheesecake de Hortelã.</p>
    </div>







</div>

</body>