@{
    ViewData["Title"] = "Não Logado";
}




<body>
    <div class="text">
        <img class="logo" src="~/Images/Logo.png" alt="">
        <h1>Você não esta Logado</h1>
        <p>Faça Login ou Cadastre-se</p>
        <a class="btn btn-primary btn-lg" asp-controller="Usuario" asp-action="Login">Login</a>
        <a class="btn btn-primary btn-lg" asp-controller="Usuario" asp-action="Cadastro">Cadastre-se</a>


    </div>
</body>