
 
  .imagem{
   width: 800px; 
   height: 450px;
   float: center;

  }

  

.imagem{
height: 80%;
width: 70%;
}



.novidade{
height: 300px;
width: 500px;
}


.titlecolor{
  color: white;
}



header{
 background-color: rgb(29, 28, 28);
  font-family: Arial, sans-serif;
  width: 100%;
  font-size: 16px;
}


footer{
  background-color: rgb(29, 28, 28);
  color: white; 
  text-align: center;
  font-family: Arial,sans-serif;
  display: flex;
  margin-top: 100%;
}


.logo{
  width: 100px;
  height: 90px;
    
   
}




p{
  font-family: Arial,sans-serif;
  font-size: 18px;
  color: black;

}


.galeria{
  height: 500px;
  width: 600px;
  margin-top: 60px;
  
}


.titulo{
  color: rgb(86, 140, 240);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
  font-size: 20px;
  text-align: center;
  height: 60px;
  width: 400px;
  background-color: rgb(248, 240, 240);
  border: solid rgb(12, 12, 12);
  padding-top: 5px;

}

.galeriatxt{
  margin-top: 50px;
  text-align: center;


}

.margtop{
  margin-top: 90px;



}



.novidades{
width: 60rem;
height: 30rem;
  margin-top: 60px;
}



#cadastro{
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;

}

.form-signin{
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus{
  z-index: 2;
}

.lista {
  background-color: rgb(118, 162, 245);;
  border-radius: 15px;
  color: black;
  margin-top: 60px;
}

.marg{
  margin-top: 20px;
}

.margindex{
  margin-top: 80px;
}


.text{
  color: rgb(86, 140, 240);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
  font-size: 20px;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgb(248, 240, 240);
  border: solid rgb(12, 12, 12);
  padding-top: 5px;

}


.logado{
  position: absolute;
}